.nav-link:hover {
    cursor: pointer;
}

/* Center and align vertically */
.table th {
    text-align: center;
    vertical-align: middle;
}

th.sortable {
    cursor: pointer;
    background-color: #f8f9fa; /* Couleur de fond par défaut */
    transition: background-color 0.3s;
}

th.sortable:hover {
    background-color: #e2e6ea; /* Couleur de fond au survol */
}

